.profile {
    padding: 20px;
  }
  
  .profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
  
  .profile-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-item {
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: #ee913fda;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #FF8E29;
    color: #fff;
  }
  